<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: header('Dashboard')}"></head>

<body>

<nav th:replace="~{fragments/layout :: navbar}"></nav>

<main>
    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <section
            th:if="${session.ROLES != null
                and !session.ROLES.contains('ROLE_ADMIN')
                and !session.ROLES.contains('ROLE_MANAGER')}">
        <p>You do not have permission to manage resources.</p>
    </section>

</main>

</body>
</html>
